body	{
		font-family:'ÉÅÉCÉäÉI',
		'Hiragino Kaku Gothic Pro',
		sans-serif;
		background-color:ffffff;
		margin: 0;
}

button	{  
		border-top: 1px solid #ccc;  
    	border-right: 1px solid #999;  
   		border-bottom: 1px solid #999;  
   		border-left: 1px solid #ccc;  
   		padding: 5px 20px;  
   		font-weight: bold;  
   		cursor: pointer;  
   		color: #666;  
   		-webkit-border-radius: 3px;  
   		-moz-border-radius: 3px;  
   		text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa;  
    	-webkit-box-shadow: 1px 1px 2px #E7E7E7;  
   		-moz-box-shadow: 1px 1px 2px #E7E7E7;
   		background: -moz-linear-gradient(top, #fff, #F1F1F1 1%,
   		#F1F1F1 50%, #DFDFDF 99%, #ccc);  
  		background: -webkit-gradient(linear, left top, left bottom,
  		from(#fff), color-stop(0.01, #F1F1F1), color-stop(0.5, #F1F1F1),
  		color-stop(0.99, #DFDFDF), to(#ccc)); 
}